@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap");

:root {
    --background-color: #292831;
    --metal: #333f58;
    --blue-gray: #4a7a96;
    --red-orange: #ee8695;
    --text-color: #fbbbad;

    --github: url(/images/GitHub-dark.svg);
    /* --twitter: url(../images/twitter-logo-white.svg); */
    --itch: url(/images/itchio-textless-white.svg);

    /* Typography */
    font-family: "Courier Prime", "JetBrains Mono", monospace;
    line-height: 1.7;
    color: var(--text-color);
    background-color: var(--background-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    min-height: 100%;
    margin: 0;
    background-color: var(--background-color);
    background-image: radial-gradient(
            circle at 4% 4%,
            rgba(238, 134, 149, 0.6) 0%,
            rgba(238, 134, 149, 0.18) 8%,
            rgba(238, 134, 149, 0.06) 15%,
            transparent 45%
        ),
        linear-gradient(
            135deg,
            rgba(238, 134, 149, 0.03) 0%,
            rgba(74, 122, 150, 0.01) 25%,
            transparent 60%
        );

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 220% 220%, 100% 100%;
    color: var(--text-color);
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.center-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 50px;
    text-align: center;
}

.content-side {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.social-row {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.pfp {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.logo {
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: transform 0.15s;
}

.logo:hover {
    transform: translateY(-3px);
}

.logo:active {
    transform: translateY(0px);
}

.gh-logo {
    background-image: var(--github);
}

.twitter-logo {
    background-image: var(--twitter);
}

.itch-logo {
    background-image: var(--itch);
}

h2 {
    font-weight: bold;
    text-decoration: underline;
    margin: 0;
}

.footer {
    text-align: center;
    width: 100vw;
    height: fit-content;
    padding: 2rem 1rem;
    margin-top: auto;
    font-size: 0.9em;
    color: var(--text-color);
}
